# See https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: WebKit
AllowShortLambdasOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortEnumsOnASingleLine: false
InsertBraces: true
AlignAfterOpenBracket: BlockIndent
ColumnLimit: 80
AlwaysBreakAfterReturnType: TopLevelDefinitions
BinPackParameters: false
BinPackArguments: false
PointerAlignment: Right
IndentCaseLabels: true
AlignConsecutiveMacros:
    Enabled: true
    AcrossComments: true
IndentPPDirectives: BeforeHash
AlignEscapedNewlines: Right
